body {
    background-color: black;
}
.title {
    color: white;
    font-size: xx-large;
    text-align: center;
}
#container {
    background-color: azure;
}
#loader {
    display: flex;
    flex-direction: column;
    padding-left: 80vh;
    padding-top: 40vh;
}
#form {
    background-color: aquamarine;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.display-activity {
    font-size: 80px;
    color: black;
}
